<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <mat-icon class="icon">content_cut</mat-icon>
        <h1 class="title">J&B Dev Barbearia</h1>
      </div>
      <div class="contact-info">
        <span class="info-item">
          <mat-icon class="icon-small">schedule</mat-icon>
          <span>Seg-Sáb: 8h-19h</span>
        </span>
        <span class="info-item">
          <mat-icon class="icon-small">phone</mat-icon>
          <span>(11) 99999-9999</span>
        </span>
      </div>
    </div>
  </div>
</header>
